<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExampleTabbedApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1DFBBE7200D36FE009BE5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1DFBC03200D36FE009BE5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1DFBC0E200D36FE009BE5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
