<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioFrameworkExamples.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1DFBB66200D0F19009BE5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1DFBB7F200D0F19009BE5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1DFBB8A200D0F19009BE5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
